
<%= render "shared/frontnav" %>


  <!-- Banner Start -->
  <div class="banner banner-video dark-overlay">
    <video autoplay muted loop id="myVideo">
      <source src="blog/assets/vids/video-banner.mp4" type="video/mp4">
    </video>
    <!-- Prev Arrow -->
    <!-- <i class="slider-prev fas fa-arrow-left slick-arrow"></i> -->
    <div class="container">

      <div class="banner-slider">
        
        <div class="banner-item text-center">
          <div class="banner-inner">
            <h1 class="title text-white"><span class="custom-primary">Elevate</span> Your Cooking Skills</h1>
            <p class="subtitle text-white">Bacon ipsum dolor amet ball tip pork chop cow tenderloin andouille. Pastrami pork picanha tongue venison strip steak</p>
            <a href="/b" class="btn-custom primary shadow-none">Visit My Blog <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>

    </div>
    <!-- Next Arrow -->
    <!-- <i class="slider-next fas fa-arrow-right slick-arrow"></i> -->
  </div>
  <!-- Banner End -->

  <!-- Categories Section Start -->
  <div class="section section-padding ct-categories ct-categories-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-croissant"></i>
              <h5>Breakfast</h5>
              <span>17 Recipes</span>
            </div>
          </a>
        </div>     
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pudding"></i>
              <h5>Desserts</h5>
              <span>45 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pizza"></i>
              <h5>Pizzas</h5>
              <span>13 Recipes</span>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <a href="#" class="ct-category">
            <div class="ct-category-icon">
              <i class="flaticon-pancakes"></i>
              <h5>Pancakes</h5>
              <span>21 Recipes</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Categories Section End -->

  <!-- Blog Posts Start -->
  <section class="section pt-0 section-padding posts">
    <div class="container">
      <div class="section-title-wrap section-header">
        <h2 class="title">From My Blog </h2>
        <p class="subtitle">
          Want to see the what new recipes we are working on? Read our daily blog posts and stay up to date
        </p>
      </div>
      <div class="row masonry">

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post">
            <div class="post-thumbnail">
              <a href="blog-single-v1.html"><img src="blog/assets/img/blog/1.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 22, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
            </div>
            <div class="post-categories">
              <a href="#">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a href="blog-single-v1.html">Puffy Pancakes Glazed With Caramel Topped With Fruits</a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

      

        <!-- Post Start -->
        <div class="col-lg-6 col-md-6 masonry-item">
          <article class="post post-format-video">
            <div class="post-thumbnail">
              <a href="blog-single-v1.html"><img src="blog/assets/img/blog/3.jpg" alt="blog post"></a>
              <div class="post-meta">
                <span>January 22, 2020</span>
                <span>Posted by Jonathan Pick</span>
              </div>
              
            </div>
            <div class="post-categories">
              <a href="#">How-To</a>
              <a href="#">Breakfast</a>
            </div>
            <div class="post-body">
              <h5 class="post-title"> <a href="blog-single-v1.html">Chocolate Coated Browny </a> </h5>
              <p class="post-text">Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
          </article>
        </div>
        <!-- Post End -->

      </div>
    </div>
  </section>
  <!-- Blog Posts End -->

  

 



  <!-- Newsletter start -->
  <section class="section light-bg bg-cover" style="background-image:url('blog/assets/img/bg/1.jpg')">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title">Subscribe to Our Newsletter</h2>
        <p class="subtitle">
          Get access to my latest recipes by joining the weekly newsletter
        </p>
      </div>

      <form class="ct-newsletter" method="post">
        <input type="email" class="form-control" placeholder="Enter your email address" value="">
        <button type="submit" class="btn-custom primary" name="button"> Submit <i class="far fa-paper-plane"></i> </button>
      </form>

    </div>
  </section>
  <!-- Newsletter End -->

  

  <!-- Footer Start -->
  <footer class="ct-footer footer-2">
    <div class="container">
      <div class="footer-widget">
        <ul class="social-media">
          <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-pinterest-p"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
        </ul>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <p class="m-0">&copy; Copyright 2020 -  All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->
