 <%= render "shared/frontnav" %>

  <div class="subheader bg-cover dark-overlay dark-overlay-2" style="background-image: url('blog/assets/img/subheader.jpg')">
    <div class="container">
      <div class="subheader-inner">
        <h1>About Us</h1>
        
      </div>
    </div>
  </div>
  <!-- Subheader End -->

  <!-- About Us Start -->
  <section class="section">
    <div class="imgs-wrapper">
      <img src="blog/assets/img/veg/6.png" alt="veg" class="d-none d-lg-block">
      <img src="blog/assets/img/veg/9.png" alt="veg" class="d-none d-lg-block">
    </div>
    <div class="container">

      <div class="section-title-wrap text-center">
        <h2 class="title">A Cook for <span class="custom-primary">25 Years</span> a hobbiest for 30</h2>
        <p class="subtitle">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
        </p>
        <a href="/contact" class="btn-custom primary"> Contact Us <i class="fas fa-arrow-right"></i> </a>
      </div>

    </div>
  </section>
  <!-- About Us End -->

 


  <!-- About us Start -->
  <section class="section pt-0">
    <div class="imgs-wrapper-2">
      <img src="blog/assets/img/veg/3.png" alt="veg" class="d-none d-lg-block">
      <img src="blog/assets/img/veg/5.png" alt="veg" class="d-none d-lg-block">
      <img src="blog/assets/img/veg/8.png" alt="veg" class="d-none d-lg-block">
    </div>
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <div class="section-title-wrap">
            <h2 class="title">A Hobby, a Talent, and now, a <span class="custom-primary">Profession</span> </h2>
            <p class="subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
              a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
            </p>
          </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
        </div>
      </div>

      <div class="section pb-0">
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <div class="section-title-wrap">
              <h2 class="title">Cooking is not just a skills, its a <span class="custom-primary">Passion</span> </h2>
              <p class="subtitle">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- About us End -->

  <!-- Newsletter start -->
  <section class="section light-bg bg-cover" style="background-image:url('blog/assets/img/bg/1.jpg')">
    <div class="container">
      <div class="section-title-wrap section-header text-center">
        <h2 class="title">Subscribe to My Newsletter</h2>
        <p class="subtitle">
          Get access to my latest recipes by joining the weekly newsletter
        </p>
      </div>

      <form class="ct-newsletter" method="post">
        <input type="email" class="form-control" placeholder="Enter your email address" value="">
        <button type="submit" class="btn-custom primary" name="button"> Submit <i class="far fa-paper-plane"></i> </button>
      </form>

    </div>
  </section>
  <!-- Newsletter End -->

 

  <!-- Footer Start -->
  <footer class="ct-footer footer-2">
    <div class="container">
      <div class="footer-widget">
        <ul class="social-media">
          <li> <a href="#"> <i class="fab fa-facebook-f"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-twitter"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-pinterest-p"></i> </a> </li>
          <li> <a href="#"> <i class="fab fa-linkedin-in"></i> </a> </li>
        </ul>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <p class="m-0">&copy; Copyright 2020 -  All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer End -->
